body { background-image: url("fon.jpg") }

h1{
    color: white;
   text-align: center;
}
h2,h3,h4,h5 {
    color: whitesmoke;
}
body{
    background-color: gray;
}
p{
    color: white;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .test{
        border: solid;
        color: white;
        display: flex;
        flex-direction: column;
        width: 370px;
        height: 350px;
        margin: 10px;
    }
    .test1{
        border: solid;
        color: white;
        display: flex;
        flex-direction: column;
        width: 1000px;
        height: 550px;
        margin: 10px;
    }
    .test2{
        border: solid;
        color: white;
        display: flex;
        flex-direction: column;
        width: 770px;
        height: 570px;
        margin: 10px;
    }
}

.titre{
    margin: 0px 0px 100px;;
}
.Ellie{
    font-size: 30px;
}
.tlou{
    font-size: 20px;
}
.note{
    font-size: 20px;
}
.éditeur{
    font-size: 20px;
}
.to-left{
    float: left;
    margin : 0px 0px 100px;
}
.site{
    font-size: 30px;
    color: bisque;
}
.left{
    float: left;
    margin : 0px 0px 100px;
}
.note1{
    font-size: 20px;
}
.éditeur1{
    font-size: 20px;
}
.stop{
    clear: both;
    font-size: 30px;
}
.min{
    font-size: 20px;
}
.mojang{
    font-size: 30px;
    color: bisque;
}
.note2{
    font-size: 20px;
}
.éditeur2{
    font-size: 20px;
}
.dead{
    clear: both;
    font-size: 30px;
}
.dbd{
    float: left;
    margin : 0px 0px 100px;
}
.trap{
    font-size: 30px;
    color: bisque;
}
.spectre{
    font-size: 18px;
}
.note3{
    font-size: 20px;
}
.éditeur3{
    font-size: 20px;
}
.trevor{
    clear: both;
    font-size: 30px;
}
.mickael{
    float: left;
    margin : 0px 0px 100px;
}
.francklin{
    font-size: 30px;
    color: bisque;
}
.lester{
    font-size: 20px;
}
.note4{
    font-size: 20px;
}
.éditeur4{
    font-size: 20px;
}
.kratos{
    clear: both;
    font-size: 30px;
}
.atreus{
    float: left;
    margin : 0px 0px 100px;
}
.zeus{
    font-size: 30px;
    color: bisque;
}
.leviathan{
    font-size: 20px;
}
.note5{
    font-size: 20px;
}
.éditeur5{
    font-size: 20px;
}
.ghost{
    clear: both;
    font-size: 30px;
}
.katana{
    float: left;
    margin : 0px 0px 100px;
}
.samourai{
    font-size: 30px;
    color: bisque;
}
.japon{
    font-size: 20px;
}
.note6{
    font-size: 20px;
}
.éditeur6{
    font-size: 20px;
}
.arme{
    clear: both;
    font-size: 30px;
}
.tresor{
    float: left;
    margin : 0px 0px 100px;
}
.diamants{
    font-size: 30px;
    color: bisque;
}
.chargeur{
    font-size: 20px;
}